<div class="container">
  <img [ngStyle]="{'width':'650px','height':'470px'}" src="{{imgThree.href}}">
</div>
<div >
  <h1>Рене Магритт</h1>
  <h2>«Сын человеческий»</h2>
  <h3>Kартина бельгийского сюрреалиста Рене Магритта, написанная в 1964 году.</h3>
  <p>Магритт писал эту картину как автопортрет. На ней изображен мужчина в пальто и шляпе-котелке, стоящий около невысокой стены, за которой видно море и пасмурное небо или дым. Лицо человека практически полностью закрыто парящим перед ним зелёным яблоком. Своим названием картина, как полагают, обязана образу современного мужчины — этакого бизнесмена, строго одетого, высокоэффективного, но всё равно остающегося сыном библейского Адама и подвергающегося искушению тем же яблоком.</p>
  </div>
<button class="btn btn-primary"  (click)="closePopUp()">Exit</button>
