<h1 style="text-align: center" [ngStyle]="{'color':'lightseagreen','font-size':'37px','margin-top':'20px'}">
  Gallery of paintings</h1>
<div [ngStyle]="{'display':'flex','flex-wrap': 'wrap','justify-content': 'space-around'}">
<button (click)="openPopUpOne()" ><img [ngStyle]="{'width':'200px','height':'200px'}" src="{{imgOne.href}}"></button>
<button (click)="openPopUpTwo()" ><img [ngStyle]="{'width':'200px','height':'200px'}" src="{{imgTwo.href}}" ></button>
<button (click)="openPopUpThree()" ><img [ngStyle]="{'width':'200px','height':'200px'}" src="{{imgThree.href}}" ></button>
</div>
