<div class="container">
  <img [ngStyle]="{'width':'400px','height':'400px','margin':'0'}" src="{{imgTwo.href}}">
</div>
<div >
  <h1>Казимір Малевич</h1>
  <h2>«Чорний супрематичний квадрат»</h2>
  <h3>Kартина українського художника-авангардиста Казимира Малевича, виконана в стилі супрематизму, найімовірніше, в 1915 році</h3>
  <p>«Чорний квадрат» являє собою безпредметне мистецтво — у картині немає нічого, що наслідувало б дійсність, тільки узагальнені форма та колір. У квадраті підсумовано всю повноту світу; це фігура, в якій починаються й закінчують всі сенси; всі протилежності знаходять в ній гармонію замість розпадатися на окремі образи[4].

    Художник пояснював зображене на картині як чисте відчуття безпредметності: чорний чотирикутник — це відчуття, не обмежене будь-яким узятим з дійсності художнім образом, а білий фон — порожнеча за межею відчуттів, яка дозволяє це відчуття окреслити[4].</p>
</div>
<button class="btn btn-primary"  (click)="closePopUp()">Exit</button>

