<div class="container">
<img [ngStyle]="{'width':'800px','height':'350px'}" src="{{imgOne.href}}">
</div>
<div >
  <h1>Илья Репин</h1>
  <h2>«Запорóжцы пи́шут письмó турéцкому султáну»</h2>
  <h3>Огромное панно (2,03×3,58 м) было начато в 1880 и закончено в 1891 году.</h3>
  <p>По легенде, письмо было написано в 1676 году кошевым атаманом Иваном Серко «со всем кошем Запорожским» в ответ на ультиматум султана Османской империи Мехмеда (Мухаммеда) IV. В то время шла русско-турецкая война 1672—1681 годов и султан в письменной форме потребовал от Запорожской Сечи подчиниться ему, как это сделал правобережный гетман Пётр Дорошенко. Оригинал ответного письма казаков не сохранился, однако в 1870-х годах екатеринославским этнографом-любителем Я. П. Новицким была найдена копия, сделанная в XVIII веке. Он передал её известному историку Дмитрию Яворницкому, который однажды зачитал её, как курьёз, своим гостям, среди которых был, в частности, Илья Репин. Художник заинтересовался сюжетом и в 1880 году начал первую серию этюдов.</p>
</div>
<button class="btn btn-primary"  (click)="closePopUp()">Exit</button>
